* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Open Sans';

  @media screen and (max-width: 800px) {
    padding: 10px;
  }
}

a {
  text-decoration: none;
  color: #000;
}
